<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSPRE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <probing privatePath="bin\DLLs" />
		</assemblyBinding>
	</runtime>
 <userSettings>
  <DSPRE.Properties.Settings>
   <setting name="menuLayout" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="lastColorTablePath" serializeAs="String">
    <value />
   </setting>
   <setting name="textEditorPreferHex" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="scriptEditorFormatPreference" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="renderSpawnables" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="renderOverworlds" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="renderWarps" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="renderTriggers" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="exportPath" serializeAs="String">
    <value />
   </setting>
   <setting name="mapImportStarterPoint" serializeAs="String">
    <value />
   </setting>
   <setting name="vscPath" serializeAs="String">
    <value>code</value>
   </setting>
  </DSPRE.Properties.Settings>
 </userSettings>
</configuration>
